body {
	font-family: 'Manrope', sans-serif;
	font-size: 22px;
	color: #000;
	margin: 0 auto;
	padding: 0 auto;
}
html {
	box-sizing: border-box;
}
*,*::before, *::after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 	{
	margin: 0;
	padding: 0;
}

ul, li {
	display:block;
	padding: 0;
	margin: 0;
}
h2 {
	font-size: 50px;
}

h3 {
	font-size: 25px;
	margin-bottom: 28px;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}
.wrapper {
	max-width: 1250px;
	margin: 0 auto;
}
/*Header styles start*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.header_fixed {
	position: fixed;
	top: 0;
	left: 0;
	background: #EEDEFF;
	animation-name: show_header;
	animation-duration: 1s;
	z-index: 1;
}
.wrapper__nav{
	margin-top: -10px;
}
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 22px;
}
.header__wrapper__nav	{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.logo__link {
	margin: 0;
}
.header__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: 32px;
}
.
.wrapper__logo{
	margin: 0;
	padding: 0;
}
.header__item {
	margin-right: 32px;
	font-weight: 700;
}
.header__item:last-child{
	margin-right: 0;
}
.header__link {
	color: #18191F;
	font-weight: 700;
	font-size: 14px;
}
.header__item a:hover , .header__item a:active , .header__item a:focus{
	border-bottom: 1px solid #000;
}
.header__wrapper_dwnld {
	transition: .5s;
}
.header__wrapper_dwnld img:hover{
	opacity: 70%;
}
/*Header styles end*/




/*Intro styles start*/

.intro{
	height: 100vh;
	background: url('../img/Background.jpg') no-repeat center / cover;
	padding-top: 168px;
}
.intro__title {
	margin-top: 100px;
	font-size: 62px;
	font-weight: 800;
}
.intro__box{
	display: flex;
	justify-content: space-between;
}

.slogan img{

}
.button {
	margin-top: 32px;
	display: block;
	font-size: 18px;
	text-align: center;
	color: #fff;
	font-weight: 700;
	background: #8C30F5;
	border-radius: 8px;
	padding: 16px 41px;
	border: 1px solid #fff;
	width: 196px;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.5s ease;	
}
.btn:hover {
	background: #6D25BE;
}


/*Intro styles end*/



/*Logos styles start*/


.logos__cmp {
	max-width: 1000px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #C9C6C2;
	border-bottom: 1px solid #C9C6C2;
	margin-bottom: 80px;
}
.logos__cmp {
	margin-top: -40px;
	margin-left: 170px;
	align-items: center;
}
.cmp {
	margin-right: 65px;
	transition: .25s all ease;
}
.cmp:first-child{
	margin-left: 35px;
}
.cmp:last-child{
	margin: 0;
}
.cmp:hover{
	transform: scale(1.1);
}


/*Info styles start*/	
.info__card{
	margin-bottom: 65px;
}
.info__wrapper{
	text-align: center;
	margin-bottom: 48px;
}
.info__title{
	font-size: 46px;
	text-align: center;
	font-weight: 800;
	display: inline-block;
}
.info__subtitle{
	width: 630px;
	font-size: 22px;
	font-weight: 400;
	margin-top: 8px;
	display: inline-block;
	line-height: 32px;
}

.benefits__row__1{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 30px;
	margin-bottom: 65px;
}
.benefits__cards{
	margin: 0 auto;
	text-align: center;	
}
.benefits__card-thumb{
	margin-bottom: 25px;
	transition: .25s;
}
.benefits__card-thumb:hover{
	transform: scale(1.1);
}
.benefits__card-title{
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 8px;
}
.benefits__card-desc{
	font-weight: 400;
	font-size: 18px;
}
.benefits__row__2{

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 30px;
}

/*Info styles end*/


/*Comments styles start*/

.comments{
	background: #D5FAFC;
	height: 900px;
}


@keyframes show_header{
	0%{
		opacity: 0;
		top: -70px;
	}
	100%{
		opacity: 1;
		top: 0;
	}
}
.quote{
	position: relative;
	margin-top: 64px;
}
.comment__title{
	position: absolute;
	margin-top: -60px;
	margin-left: 100px;
	width: 550px;
	font-weight: 800;
	font-size: 44px;
	float: left;
	line-height: 50px;
}
.comment__subtitle{
	font-weight: 400;
	font-size: 22px;
	margin-top: 50px;
	margin-left: 100px;
}
.top__card_f{
	margin-left: 655px;
	margin-top: -170px;
	position: absolute;
	width: 415px;
	height: 440px;
	background: #fff;
	border-radius: 8px;
}
.top__card-text{
	position: absolute;
	
}

.top__card-logo{
	padding-top: 32px;
	padding-left: 32px;
	padding-bottom: 22px;

}
.top__card-mini{
	opacity: 30%;
	margin-left: 32px;
	position: absolute;
}
.top__card-desc {
	padding-left: 64px;
	width: 350px;
	line-height: 32px;
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 24px;
}
.top__card_name{

	padding-left: 64px;
}
.top__card-name{
	font-size: 18px;
	font-weight: 700;
}
.top__card-job{
	font-size: 14px;
	font-weight: 500;
	color: #969BAB;
	padding-bottom: 32px;
}
.top__card_s{
	margin-left: 235px;
	margin-top: 24px;
	position: absolute;
	width: 390px;
	height: 500px;
	background: #fff;
	border-radius: 8px;
}
.top__card_t {
	margin-left: 655px;
	margin-top: 300px;
	position: absolute;
	width: 370px;
	height: 280px;
	background: #fff;
	border-radius: 8px;
}


/*Comments styles end*/



/*Achivments styles start*/

.wrapper__achivments{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 160px;
}
.wrapper__achivments__text-title{
	font-size: 48px;
	font-weight: 800;
	line-height: 64px;
	margin-top: 82px;
}
.wrapper__achivments__text-subtitle{
	margin-top: -25px;
}
.achivment-title{
	font-weight: 800;
	font-size: 28px;
}
.achivment-subtitle{
	font-weight: 400;
	font-size: 16px;
}

.achivments__card{
	display: flex;
	margin-left: 30px;
	margin-top: 55px;
}
.achivment__download-text{
	margin-left: 16px;
}

.achivments__row__1 {
	display: flex;
	flex-wrap: wrap;
}
.achivments__row__2 {
	margin-top: -30px;
	display: flex;
	flex-wrap: wrap;
}
#cards1{
	margin-left: 100px;
}


/*Achivments styles end*/



/*Headline styles start*/
.headline{
	margin-bottom: 64px;
}
.wrapper__headline{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.wrapper_headline__Iphone{
	width: 540px;
	height: 540px;
	background: #f1e4ff;
	align-items: center;
	border-radius: 8px;
}
.headline__iphone{
	margin-top: 40px;
	margin-left: 70px;
}
.wrapper__headline__text{
	width: 540px;
}
.wrapper__headline__text-title{
	font-size: 40px;
	font-weight: 800;
}
.wrapper__headline__text-desc{
	font-size: 18px;
	font-weight: 400;
}
.wrapper__headline__btn{
	margin-top: 32px;
	color: #8C30F5;

}
.headline__link{
	margin-top: 32px;
}
.wrapper__headline__btn{
	padding-right: 110px;
	font-weight: 800;
	background: url(../img/right-arrow.svg)no-repeat center	top;
}
.wrapper__headline_btn a{
	font-size: 20px;
	font-weight: 700;
	color: #8C30F5;
}

/*Headline styles end*/




/*Feature styles start*/
.feature{
	margin-bottom: 64px;
}
.wrapper__feature {
	margin-top: 100px;
}
.feature__text {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 48px;
	margin-left: 55px;
	align-items: center;
	width: 1110px;
}
.feature__text-title{
	font-size: 40px;
	font-weight: 800;
	width: 540px;
}
.feature__text-desc{
	width: 540px;
	font-size: 18px;
	font-weight: 400;
	align-items: center;
}
.feature__pic{
	margin-left: 55px;
}


/*Feature styles end*/



/*CTA styles start*/	
.cta{
	background: #2EC5CE;
	height: 417px;
}
.wrapper__cta{
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.cta__text{
	width: 600px;
}
.cta__text-title{
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	margin-bottom: 8px;
}
.cta__text-subtitle{
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	margin-bottom: 48px;
}
.cta__text-download-title{
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 12px;
}
.cta__text-download-pic img {
	margin-right: 12px;
	transition: .5s;
}
.cta__text-download-pic img:hover{
	opacity: 70%;
}
.cta__phones-pic{
	margin-right: -32px;
	margin-top: -2px;
	margin-bottom: 0;
}

/*CTA styles end*/


/*Advertising styles start*/	
.advertising{
	background: url('../img/Cover Image bg.jpg') no-repeat bottom	center / cover;
	height: 300px;
	
	font-weight: 900;
	color: #fff;
	
}
.wrapper__advertising {
	display: flex;
	justify-content:  center;
	align-items: center;	

}
.advertising-title{
	margin-top: 129px;
	font-family: 'Montserrat', sans-serif;
}

.advertising-btn {
	margin-top: 129px;
	margin-left: 100px;
	display: block;
	font-size: 18px;
	text-align: center;
	color: #fff;
	font-weight: 600;
	background: #FFAEAE;
	border-radius: 80px;
	border: 0;
	padding: 16px 41px;
	width: 300px;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.5s ease;	
}
.advertising-btn:hover {
	background: #B78080;
}


/*Advertising styles end*/



/*Footer styles start*/
.footer{
	background: #0B0D17;
	color: #fff;
	padding-bottom: 56px;
}
.footer__text{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;;
}
.footer a{
	color: #fff;
}
.footer__nav{
	display: flex;
}
.footer__text__nav{
	padding-top: 56px;
}
.footer__nav-links{
	margin-top: 24px;
}
.footer__text__nav-download{
	margin-right: 24px;
}
.footer__nav{
	margin-top: 12px;
}
.footer__item {
	margin-right: 32px;
	font-weight: 700;
}
.footer__item:last-child{
	margin-right: 0;
}
.footer__link {
	color: #fff;
	font-weight: 400;
	font-size: 16px;
}
.footer__item a:hover , .footer__item a:active , .footer__item a:focus{
	border-bottom: 1px solid #000;
}
.footer__last{
	font-weight: 400;
	font-size: 14px;
	color: #D9DBE1;
	margin-top: 24px;
}
.footer__downloads-title{
	margin-bottom: 16px;
	color: #D9DBE1;
	font-weight: 500;
	font-size: 18px;
}
.footer__downloads-pics {
	flex-direction: column;
	display: flex;
	
}

.footer__download-pic{
	margin-top: 16px;
	width: 80%;
	transition: .5s;
}
.footer__download-pic:hover {
	opacity: 70%
}
/*Footer styles end*/